#grid {
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
  }
  .cell {
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
  }

  .cell:hover {
    background-color: red;
    color: yellow;
  }